@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
  color: #242222;
}

a:hover {
  color: #34a654;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f1f6f9;
  font-family: 'Poppins', sans-serif;
  padding-top: 0.625rem;
}

.hero {
  padding: 50px 0;
  min-height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
}

header {
  min-height: 10vh;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 2rem 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding-left: 0.625rem;
  width: 100%;
}

.title {
  color: black;
  margin-left: 20px;
}

.table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  margin: 0 15%;
}

.top-table {
  padding: 10px;
  width: 100%;
}

.recentScores {
  color: black;
  margin: 10px;
  font-size: 30px;
}

.top-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
}

#leaderboard {
  border: 2px solid black;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-left: 10%;
}

form input[type='text'],
form input[type='number'] {
  margin-bottom: 1.1rem;
  padding: 0.625rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

form input,
button {
  width: 51%;
  padding: 10px;
  margin: 5px;
  border: 2px solid black;
  box-shadow: 1px 1px black;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.scoreList {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #eee;
}

button {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 32%;
  background-color: #146c94;
  color: #fff;
  border: 1px solid #b0daff;
  box-shadow: 2px 2px #b0daff;
  cursor: pointer;
  border-radius: 8px;
  align-self: flex-end;
}

button:hover {
  background-color: #19a7ce;
}

.AddScores {
  color: black;
  font-size: 30px;
  margin: 0;
}

::placeholder {
  color: #000;
}

.name {
  font-weight: bold;
  margin-right: 1rem;
  margin-left: 1rem;
}

.score {
  font-weight: bold;
}

#leaderboard li.score:nth-child(even) {
  background-color: #ddd;
}

.tablesSocre {
  width: 100%;
}

footer {
  display: flex;
  margin: auto;
  width: 85%;
  height: 10vh;
}
